<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
      <li class = "nav-item">
          <a routerLink="list-employee" routerLinkActive="active" class="nav-link" >Employee List</a>
      </li>
      <li class = "nav-item">
          <a routerLink="add" routerLinkActive="active" class="nav-link" >Add Employee</a>
      </li>
      <li class = "nav-item">
        <a routerLink="files" routerLinkActive="active" class="nav-link" >Upload file</a>
    </li>
  </ul>
</nav>

<h1 class="text-center"> {{title}} </h1>
<div class = "container">
  <router-outlet></router-outlet>
</div>
